extends layout

block content
      .page__content
        .container
          .page__content_medium
            .slider
              #slider.carousel.slide.carousel-fade(data-ride='carousel')
                .carousel-inner
                  .carousel-item.active
                    a(href='#')
                      img.d-block.w-100(src='slider_571x468.jpg' alt='c')
                  .carousel-item
                    a(href='#')
                      img.d-block.w-100(src='slider_2.jpg' height='468px' alt='cool')
                  .carousel-item
                    a(href='#')
                      img.d-block.w-100(src='slider_3.png' alt='foto')
                  .carousel-item
                    a(href='#')
                      img.d-block.w-100(src='slider_4.jpg' alt='foto')
                ol.carousel-indicators
                  li.active(data-target='#slider' data-slide-to='0')
                  li(data-target='#slider' data-slide-to='1')
                  li(data-target='#slider' data-slide-to='2')
                  li(data-target='#slider' data-slide-to='3')
            .big
              a(href='#')
                img(src='270xx468_3.jpg' alt='')
              .big__text
                h2 прочность
                i.fa.fa-shopping-cart
            .right
              .accardion
                .catego
                  h4 КАТЕГОРИИ
                .accardion__colum
                  ul.col__1
                    li.odd.first
                      input#fff.faq-inp(type='checkbox')
                      a(href='#')
                        label.faq-titl(for='fff') Text
                      ul.col__2
                        li
                          input#f_f.faq-inpap(type='checkbox')
                          label.faq-titlal(for='f_f') Text
                          ul.col__3
                            li
                              a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                                | Text
                            li
                              a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                                | Text
                            li
                              a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                                | Text
                            li
                              a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                                | Text
                            li
                              a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                                | Text
                        // ?
                        li
                          a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                            | Text
                        li
                          a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                            | Text
                        li
                          a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                            | Text
                        li
                          a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                            | Text
                    li.even
                      a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                        | Text
                    li.odd
                      a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                        | Text
                    li.even
                      a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                        | Text
                    li.odd
                      a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                        | Text
                    li.even
                      a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                        | Text
                    li.odd.last
                      a(href='#' title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam voluptates, earum repellat, eius culpa velit a, quidem dolores optio nobis. Cumque praesentium perferendis tempora similique recusandae. Vitae, veritatis nemo?')
                        | Text
              .discounts
                .special
                  h4 СКИДКИ
                .special__box
                  .special__card
                    img(src='100x100.png' alt='')
                  .special__text
                    h6
                      | ТЕКСТ ТЕКСТ
                      br
                      | ТЕКСТ
                    p Lorem ipsum, dolor sit
                    span 000
                    span 000
                    span 000
                .all
                  p.shake-lr ВСЕ СКИДКИ
          .container__2
            .pioneer
              .orang__img1
                img(src='270x209.jpg' alt='')
                .orang__text
                  h5 iMac Pro
                  p MQ2Y2RU/A
                  i.fa.fa-search.shake-vertical
              .orang__img2
                img(src='270x209_2.jpg' alt='')
                .orang__text
                  h5 MacBook Pro
                  p Retina TB (MVVK2RU/A)
                  i.fa.fa-search.shake-vertical
              .orang__img3
                img(src='270x209_3.jpg')
                .orang__text
                  h5 iPad Pro
                  p 2020 1024 ГБ 3G, LTE
                  i.fa.fa-search.shake-vertical
            .sony
              .sony__img
                img(src='877x156.jpg' alt='')
              .sony__text
                h2.tracking-in-expand Чёрный, зелёный, жёлтый, фиолетовый, (PRODUCT)RED, белый
                p новые цвета
            .pro
              ul
                li.list.active(data-filter='all') ПОПУЛЯРНОЕ
                li.list(data-filter='mobile') НОВЫЕ ПОСТУПЛЕНИЯ
                li.list(data-filter='camera') ЛИДЕРЫ ПРОДАЖ
                li.list(data-filter='watch') РАСПРОДАЖА
            .cart
              .cart__up
                each item in data
                  .cart__1.itemBox
                    .cart__img
                      img(src='#{item.picture}')
                    h6= item.name
                    p= item.smallbody
                    h3 $#{item.price}
                    span.bott= item.discprice
                    span.minus= item.sale
                    .sale
                      h5.tracking-in-expand-fwd-top= item.raspro
                    a.basket.rotate-center(href='#', id="good-#{item.id}-#{item.price}")
                      i.fa.fa-shopping-cart(aria-hidden='true')
                      span.bas в корзину